@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    padding: 100px;
    border-radius: 100%;
    font-size: 300%;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#am_pm {
    margin-left: 17px;
}